html{
  margin:0;
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  width:100%;
  min-height: 100%;
  display: grid;
  background-color:#ffaed7;

  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template:
    "img header img2"
    "body body body";
}

h1{

  grid-area: header;
  text-align: center;
  font-family: Arial;
  font-size: 3em;
  margin:auto;
  color: #555555;
}

.contain{
  grid-area: body;
/*  background-color: #aeffff;
  */display: grid;
  min-height:100%;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template:
    ". . . . ."
    ". b1 . b2 ."
    ". . . . ."
    ". . b3 . ."
    ". . . . .";
}
#pick{
  grid-area: b1;
  color:#0000ff;
  background-color: #aeffff;
}
#count{
  grid-area: b2;
  color:#ff4400;
  background-color: #aeffff;
}
#error{
  grid-area: b3;
  color:#00ff00;
  background-color: #aeffff;
}
#blüte{
  grid-area: img;
  height: 400px;
  width: 400px;
  margin-left: 40%;
  margin-top: 30%;
}
#blüte2{
  grid-area: img2;
  height: 400px;
  width: 400px;
  margin-left: -10%;
  margin-top: 30%;
}
